h2 {
  text-align: center;
}

.todo-menu {
  padding: 0;
  margin: auto;

  /* flexbox */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.card {
  border-radius: 6px;
  font-size: 1.2rem;
  display: inline-block;
  color: #000000;
  text-align: left;
  padding: 0.3em;
  min-width: 100%;
  margin: 0.5rem auto;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

.completed {
  background-color: #baf1c3;
  border: 1px solid #57d64c;
  border-radius: 4px;
  padding: 0 5px;
  width: max-content;
  font-size: 0.7rem;
}

.in-progress {
  background-color: #033a99;
  color: #fff;
  font-weight: 500;
  padding: 0 5px;
  border-radius: 4px;
  width: max-content;
  font-size: 0.7rem;
}

.status-container {
  display: flex;
  font-size: 0.7rem;
}

.title {
  font-size: 1.2rem;
  color: #2e2c2c;
  padding: 0;
  margin: 0;
}

.subtitle {
  font-size: 0.8rem;
  color: #7e7b7b;
  margin: 0;
}

.icon {
  color: #c0c0c0;
  font-size: 0.9em;
  cursor: pointer;
}

.icon:hover {
  color: #7e7b7b;
}
