<ul class="list-group list-group-flush mb-3 mt-3">
  <li class="list-group-item"></li>
  <li class="list-group-item" *ngFor="let todo of todos">
    <div class="row align-items-center pe-2">
      <div class="col-md-11 ps-3">
        <div class="col d-flex">
          <input class="form-check-input" type="checkbox" [checked]="todo.isCompleted"/>
          <div class="ms-3">
            <!-- <p
              [ngClass]="{
                completed: todo.isCompleted,
                'in-progress': !todo.isCompleted
              }"
              class="m-0"
            >
              {{ todo.isCompleted ? "Completo" : "Em andamento" }}
            </p> -->
            <p class="title fw-bold">{{ todo.name }}</p>
            <p class="subtitle">#{{ todo.category }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-1 d-flex justify-content-end">
        <i
          class="fas fa-pen-to-square icon pe-3"
          [routerLink]="'/detail/' + todo.id"
        ></i>
        <i class="fas fa-trash icon" (click)="delete(todo)"></i>
      </div>
    </div>
  </li>
  <li class="list-group-item"></li>
</ul>
