.todos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.todos li {
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.delete {
  height: 2.6em;
  background-color: #d67a7a;
  padding: 0 0.3rem;
  border-radius: 4px;

  color: #fff;
  border: 1px solid #b80a0a;
}

.todos li:hover {
  left: 0.2em;
}

.todos a {
  color: #333;
  text-decoration: none;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.todos a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.todos a:active {
  background-color: #525252;
  color: #fafafa;
}

.todos .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.active {
  background-color: #baf1c3;
  border: 1px solid #57d64c;
}

.row-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.row-input input {
  height: 20px;
}

.add-button {
  padding: 0.3rem;
  background-color: #baf1c3;
  border: 1px solid #57d64c;
  cursor: pointer;
}
