h1 {
  margin-bottom: 0;
}

.app {
  background-color: #e3dddd;
  height: 100vh;
  padding-bottom: 20px;
  overflow-y: scroll;

}

nav a {
  box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  margin: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545c;
}
nav a:active {
  background-color: black;
}
