<div *ngIf="todoForm" class="container">
  <h2>Detalhes {{ todoForm.get("name")?.value | uppercase }}</h2>
  <p>#{{ todoForm.get("category")?.value }}</p>
  <form [formGroup]="todoForm">
    <div class="mt-3">
      <label for="new-todo" class="form-label">Nome:</label>
      <input
        id="new-todo"
        class="form-control"
        formControlName="name"
        maxlength="100"
      />
      <span
        class="alert"
        *ngIf="
          todoForm.get('name')?.errors &&
          (todoForm.get('name')?.touched || todoForm.get('name')?.dirty)
        "
      >
        Nome é obrigatório
      </span>
    </div>
    <div class="mt-3">
      <label for="new-todo" class="form-label">Categoria</label>
      <input
        id="new-todo"
        class="form-control"
        formControlName="category"
        maxlength="30"
      />
      <span
        class="alert"
        *ngIf="
          todoForm.get('category')?.errors &&
          (todoForm.get('category')?.touched || todoForm.get('category')?.dirty)
        "
      >
        Categoria é obrigatória
      </span>
    </div>
    <div class="row-buttons mt-3">
      <button type="button" class="btn btn-outline-primary" (click)="goBack()">
        Voltar
      </button>
      <button type="button" class="btn btn-outline-success" (click)="save()">
        Salvar
      </button>
    </div>
  </form>
</div>
