<div *ngIf="todo">
  <h2>Detalhes {{ todo.name | uppercase }}</h2>
  <p>id: {{ todo.id }}</p>
  <div class="row-input">
    <label for="todo-name">Nome: </label>
    <input id="todo-name" [(ngModel)]="todo.name" placeholder="Nome" />
  </div>

  <div class="row-input">
    <label for="todo-name">Categoria: </label>
    <input id="todo-name" [(ngModel)]="todo.category" placeholder="categoria" />
  </div>
  <div class="row-buttons">
    <button type="button" (click)="goBack()" >Voltar</button>
    <button type="button" (click)="save()">Salvar</button>
  </div>
</div>
