.logs {
  background-color: #fff;
  padding: 10px;

  height: 200px;
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  right: 4rem;
  overflow-y: scroll;
}

h2 {
  color: #a80000;
  font-weight: lighter;
}

.clear {
  color: #333;
  background-color: #eee;
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.clear:hover {
  color: white;
  background-color: #42545c;
}
