<div class="dashboard">
  <div class="todo-menu">
    <a *ngFor="let todo of todos" routerLink="/detail/{{ todo.id }}">
      <div class="row">
        <div>
          <div class="status-container">
            <p
              [ngClass]="{
                completed: todo.isCompleted === true,
                'in-progress': todo.isCompleted !== true
              }"
            >
              {{ todo.isCompleted !== true ? "Em andamento" : "Completo" }}
            </p>
            <p class="subtitle">#{{ todo.category }}</p>
          </div>
          <p class="title">{{ todo.name }}</p>
        </div>

        <i class="fas fa-arrow-right"></i>
      </div>
    </a>
  </div>
</div>
