<div class="container">
  <div class="d-flex justify-content-between">
    <h3>Tarefas</h3>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Pesquisar"
        aria-label="Search"
      />
      <button class="btn btn-secondary" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
  <app-card [todos]="todos"></app-card>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" type="button" routerLink="/todos">
      Cadastrar Tarefa
    </button>
  </div>
</div>
